<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to patient_post_favorites_path(post.patient_id, post.id), method: :delete do %>
      ♥<%= post.favorites.count %> 確認しました
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to patient_post_favorites_path(post.patient_id, post.id), method: :post do %>
      ♡<%= post.favorites.count %>(確認したらクリックしてください)
    <% end %>
  </p>
<% end %>