<div class = "col-md-8 offset-md-1">
  <h1 class="text-success text-left">＜プロフィール編集＞</h1>
    <table>
      <%= form_with model:@user, local:true do |f| %>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
        <%= f.select :genre_name, User.genre_names.keys.to_a %>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% end %>
    </table>
</div>