<div class = "col-md-8 offset-md-1">
　<table class="table table-hover table-inverse">
　　<thead>
　　　<tr><th><h2>利用者様一覧</h2></th></tr>
　　</thead>
　　<tbody>
　　　<% @patients.each do |patient| %>
　　　<tr><td>ご氏名：<%= link_to patient.name, patient_path(patient.id) %></td></tr>
　　　<tr><td>利用者様番号：<%= patient.number %></td></tr>
　　　<% end %>
　　</tbody>
　</table>
</div>
