<!--スタッフ用利用者様一覧ページ-->
<div class = "col-md-8 offset-md-1">
<div class="title ">
 <h2>＜利用者様一覧＞</h2>
</div>
 <table>
  <% @patients.each do |patient| %>
   <tr><td>利用者様番号：<%= patient.number %></td></tr>
   <tr><td>お名前：<%= link_to patient.name, patient_path(patient.id) %></td></tr>
  <% end %>
 </table>
</div>