<div class = "col-md-4 offset-md-1">
   <h1>利用者様基本情報</h1>
   <p>記録日：<%#= @patient.created_at %></p>
   <p>記録者：<%#= @care.user_id %></p>
   <table class="table table-striped">
     <tbody>
         <tr><td>氏名：<%= @patient.name %></td></tr>
         <tr><td></td></tr>
         <tr> <td></td></tr>
         <tr><td></td></tr>
         <tr> <td></td></tr>
     </tbody>
   </table>
</div>