<div class = "col-md-8 offset-md-1">
  <div>
    <p>年齢を重ねても、住み慣れた環境で</p><br>
    <p>自分らしく過ごしたい。</p><br>
    <p></p><br>
    <p>より充実した在宅での時間を過ごしていただくためには、</p><br>
    <p>さまざまなサポートをするチームが不可欠です。</p><br>
    <p></p><br>
    <p>利用者様の気持ちに寄り添い</p><br>
    <p>サポーターであるスタッフの皆様と</p><br>
    <p>ご家族様をつなぐ</p><br>
    <p>そんなお手伝いができると幸いです。</p><br>
  </div>
</div>