<div class="container">
  <div class="content">
    <div class="row">
      <div class="title col-md-10 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded my-5 text-center">
        <h1 class="title">在宅おたすけの〜と</h1>
      </div>
    </div>
    <div class="concept rounded-circle" style="background:#eeeeee">
      <div class="row">
        <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto rounded my-5 text-center">
          <h3>ケアが必要になっても住み慣れた環境で自分らしく過ごしいたい</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto text-center">
          <p>充実した在宅時間を過ごしていただくためにはたくさんのスタッフのサポートが必要です</p>
          <p>利用者様の気持ちに寄り添いサポータースタッフとご家族様をつなぐことで生まれる安心感</p>
          <p>多くの時間を「やっぱりおうちがいいね」と笑顔で語らいながら過ごしていただく</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto rounded my-5 text-center">
          <h4>少しでもそのお手伝いができたらと考えています</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="function">
    <div class="row">
      <h3><i class="fas fa-paper-plane fa-lg"></i>利用者様のご様子をご家族様、スタッフで共有</h3>
      <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto rounded my-5">
        <%= image_tag 'timeline.png', resize: '100x100', class: "card-img imag-fluid rounded-0"  %>
      </div>
    </div>
    <div class="row">
      <h3><i class="far fa-envelope-open fa-lg"></i>コメント機能で即座に連携</h3>
      <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto rounded my-5">
        <%= image_tag 'comment.png', resize: '100x100', class: "card-img imag-fluid rounded-0"  %>
      </div>
    </div>
    <div class="row">
      <h3><i class="fas fa-user-md fa-lg"></i>過去のデータの詳細や推移をグラフで確認</br>（スタッフのみの制限機能）</h3>
      <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto rounded my-5">
        <%= image_tag 'dategraph.png', resize: '100x100', class: "card-img imag-fluid rounded-0"  %>
      </div>
    </div>
    <div class="row">
      <h3><i class="fas fa-calendar-plus fa-lg"></i>ケアが行なわれた日をカレンダーで確認</br>（スタッフのみの制限機能）</h3>
      <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto rounded my-5">
        <%= image_tag 'calendar.png', resize: '100x100', class: "card-img imag-fluid rounded-0"  %>
      </div>
    </div>
  </div>
</div>








