<div class="top" style="height:800px; col-md-8 offset-md-1;">
  <div class ="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-00 p-3 mx-auto flex-column">
      <main class="px-3">
        <font size="7">在宅サービスに携わる全ての方</br>みんなで支える</br><strong>It's good for to be home</strong></br></p>
        <div class="wrapper">
          <ul>
            <div class="d-flex justify-content-center">
          　　<li><button type="button" class="btn btn-danger btn-lg rounded-pill" disabled="disabled">看護師</button></li>
            </div>
            <div class="btn-group align-self-start" role="group">
          　　<li><button type="button" class="btn btn-primary btn-lg  rounded-pill" disabled="disabled">医師</button></li>
          　　<li><button type="button" class="btn btn-warning btn-lg  rounded-pill text-white"disabled="disabled">薬剤師</button></li>
            </div></br>
            <div class="d-flex justify-content-center">
          　　<li><button type="button" class="btn btn-primary btn-lg rounded-pill" disabled="disabled">利用者様</button></li>
            </div>
            <div class="btn-group align-self-start" role="group">
          　　<li><button type="button" class="btn btn-info btn-lg  rounded-pill" disabled="disabled">リハビリ</button></li>
          　　<li><button type="button" class="btn btn-success btn-lg  rounded-pill" disabled="disabled">ケアマネ</button></li>
            </div>
            <div class="d-flex justify-content-center">
          　　<li><button type="button" class="btn btn-light btn-lg rounded-pill text-white" disabled="disabled">ヘルパー</button></li>
            </div>
        　</ul>

        </div>
      </main>
    </div>
  </div>
</div>
