 タイムライン編集フォーム
<div class="col-md-8 clearfix">
      <div class="float-right test-box">
        <h2>タイムライン編集</h2>
        <%= form_with model: @post, url: patient_posts_path(patient.id), local:true do |f| %>
          <%= f.file_field :image %>
          <h4>コメントを編集する</h4>
          <%= f.text_area :content %>
          <%= f.submit '更新する' %>
        <% end %>
      </div>
    </div>