<div class = "col-md-8 offset-md-1">
  <div>
  <!--タイムライン投稿フォーム-->
    <h1>タイムライン投稿</h1>
    <%= form_with model: @post, local:true do |f| %>
      <%= f.file_field :image %>
      <h4>コメントを投稿する</h4>
      <%= f.text_area :content %>
      <%= f.submit '投稿する' %>
    <% end %>
  </div>
  <!--投稿表示画面-->
  <div>
    <%# @post.each do |post| %>
      <div>
        <p><%#= post.created_at. %></p>
        <p><%#= post.user.name %>さんの投稿</p>
        <p><%#= post.content %></p>
        <%# if @post.image.attached? %>
          <%#= image_tag @post.image %>
        <%# end %>
      </div>
    <%# end %>
  </div>

</div>