// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top {
  width: 100%;
  background-image: url(image/3517910_l.jpg);
  background-size: cover;
}

