<% if model.errors.any? %>
 <div class="alert alert-warning">
  <%= model.errors.count %>件のエラーが発生しました<br>
  <% model.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
 </div>
<% end %>